.visualizer-geoviewer{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
}
.visualizer-legend{
    height: 8%;
    width: 50%;
    z-index: 1;
    margin-left: 53%;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
}
#visualizer-legend-canvas{
    margin: auto;
    display: block;
}
.visualizer-customize{
    width: 400px;
    display:block;
    margin: auto;
}
.visualizer-customize-range{
    width:20%;
}
.visualizer-2D{
    width: 35%;
    height: 80%;
    position: absolute;
    left:65%;
    top:15%;
    opacity: 0.8;
    background-color: #ffffff;
    overflow: scroll;
}
#visualizer-2D-svg{
    margin-top: 30px;
    opacity: 1.0;
}
.visualizer-control{
    width: 20%;
    height: 155px;
    top:5px;
    left:0;
    position: absolute;
    opacity: 0.8;
    background-color: #c1c4c7;
}
.visualizer-control-span{
    position:relative;
    top: 5px;
    left: 5px;
    bottom: 0px;
}
.visualizer-control-infoToggle{
    margin-top:10px;
    float:right;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
.visualizer-infobox{
    width: 20%;
    height: 40%;
    left: 0;
    top: 160px;
    position: absolute;
    opacity: 0.8;
    background-color: #ffffff;
}
.visualizer-infobox-table{
    margin-top: 10px;
    margin-left: 20px;
    border-spacing: 4px;
}
.visualizer-slider{
    width: 400px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.noUi-connect{
    background-color: #c1c4c7;
}
.visualizer-ui-header {
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
}
.visualizer-ui-header-hr {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}