.visualizer-geoviewer{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}
.visualizer-legend{
    height: 8%;
    width: 50%;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
}
#visualizer-legend-canvas{
    margin: auto;
    display: block;
}
.visualizer-customize{
    width: 400px;
    display:block;
    margin: auto;
}
.visualizer-customize-range{
    width:20%;
}
.visualizer-2D{
    width:40%;
    height: 80%;
    position: absolute;
    opacity: 0.6;
    background-color: #88AACC;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}